body{
    padding: 5px;
    background-color: beige;
}

h1{
    font-size: 180%;
    text-align: center;
    color:teal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table{
    width: 100%;
    text-align: center;
}
td{
    width: 33%;
    height: 230px;
}
img{
    width: 50%;
    height: auto;
    transition: transform 0.8s ease;
}

img:hover{
    transform: scale(1.1);
}
h2{
    text-align: left;
    color: darkgreen;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 130%;
}
.derecha{
    text-align: right;
}
a{
    color: brown;
    font-size: 170%;
}
footer{
    color:cornflowerblue;
}
footer img{
    float: right;
    width: 10%;
    height: auto;
}